.compilerContainer {
  display: flex;
  flex-direction: column;
  height: calc( 90vh - 10px );;
}
.editorcompilerContainer {
  display: flex;
}

.compilerContainer button {
  padding: 10px 40px;
  outline: none;
  border: none;
  background-color: rgb(62,70,79);
  color: wheat;
  align-self: flex-start;
  cursor: pointer;
}

.ace_layer ace_print-margin-layer{
  display: none;
}