.compilerContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;

  .editorcompilerContainer {
    display: flex;
    section {
      width: 50vw;
      background-color: black;
      color: white;
    }
  }

  button {
    padding: 10px 40px;
    outline: none;
    border: none;
    background-color: rgb(232, 232, 232);
    color: black;
    align-self: flex-start;
    cursor: pointer;
  }
}
