.headercontainer{
    display: flex;
    justify-content: space-between;
    padding: 12px 22px;
}

.headerleft{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.headerleft li{
    font-size: 16px;
    font-weight: 500;
}

.headerright{
    display: flex;
    gap: 6px;
}

.headerright img{
    width: 70px;
    height: 50px;
}

.siginbtn{
    font-size: 12px;
    border: 1px solid black;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 700;
    color: black;
    background-color: transparent;
}

.signupbtn{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 18px;
    color: #ffffff;
    background-color: black;
}

