.headercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 42px;
    background-color: rgb(19,18,23);;
    height: 6vh;
    border-bottom: 1px solid rgba(38, 53, 73, 1);
}
.headerbrandlogo{
    font-family: monospace;
    cursor: pointer;
    font-size: 28px;
    font-weight: 900;
    color: #ac2121;
    margin: 0;
}

.headerbrandlogo::first-letter{
    font-size: 36px;
}

.headerleft{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.headerleft li{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.headerright{
    display: flex;
    gap: 6px;
    align-items: center;
}

.headerloggedprofile{
    position: relative;
}

.userdetailsdropdown{
    position: absolute;
    right: 0;
    padding: 6px;
    width: 120px;
    height: auto;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.userdetailsdropdown p{
    font-size: 14px;
    padding: 4px 2px;
    font-weight: 600;
    border-bottom: 1px solid #80838e;
    cursor: pointer;
}
.userdetailsdropdown p:last-child{
    border: none;
}

.headerright img{
    width: 70px;
    height: 50px;
}

.siginbtn{
    font-size: 12px;
    border: 1px solid rgba(38, 53, 73, 1);
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
}

.signupbtn{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 18px;
    color: #ffffff;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .headercontainer{
        padding: 8px 12px;
    }
}