.maincontainer {
  display: flex;
  flex-direction: column;
}

.maincontainer .lpsection1 {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.lpsection2 {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.maincontainer .lpsection2 div {
  padding: 4px 16px;
  border-right: 1px solid #80838e;
}
.maincontainer .lpsection2 div p {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
}
.maincontainer .lpsection2 div span {
  color: #80838e;
  font-size: 14px;
  font-weight: 600;
}
.maincontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.maincontent h1 {
  font-size: 46px;
  font-weight: 900;
  line-height: 50px;
  color: #ffffff;
}

.maincontent p {
  color: #80838e;
}

.maincontent h1 span {
  color: #ac2121;
  font-size: 32px;
  font-family: monospace;
  font-variant-caps: normal;
}

.explorebtn {
  display: flex;
}

.explorebtn button {
  padding: 12px;
  border-radius: 16px;
  border: none;
  width: 14vw;
  color: rgb(19, 18, 23);
  font-size: 18px;
  font-weight: 700;
  background-color: #ffffff;
  border: 1px solid rgb(19, 18, 23);
  cursor: pointer;
  outline: none;
}

.explorebtn button:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(38, 53, 73, 1);
}

.imagesection {
  /* padding: 20px; */
}
.imagesection img {
  height: 60vh;
  width: 35vw;
  /* box-shadow: -30px 28px 12px rgb(19, 18, 23); */
  box-shadow: -8px 6px 12px 4px rgb(19, 18, 23);
}


@media screen and (max-width: 768px) {
  
  .maincontent h1 {
    font-size: 35px;
    line-height: 52px;
}
.explorebtn{
  align-self: center;
}
.maincontainer .lpsection1 {
  padding: 8px 12px;
  flex-direction: column;
  gap: 14px;
}
.explorebtn button {
  width: 50vw;
}

.maincontainer .lpsection2 div{
  border: none;
}

.lpsection2{
  display: grid;
  grid-template-columns: auto auto;
  padding: 24px 2px;
}
.headerleft{
  display: none;
}
.imagesection{
 align-self: center;
}

.imagesection img{
  /* display: none; */
  height: 26vh;
    width: 65vw;
}

}