.tncontainer {
  display: flex;
  padding: 12px 24px;
  background-color: grey;
  justify-content: space-between;
  p {
    margin: 0;
    padding: 2px 20px;
    background-color: black;
    color: white;
    border-radius: 12px;
  }
}
