.cbcontainer {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.cb-grid-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.cb_cards {
  border: 1px solid gray;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: fit-content;
  position: relative;
}

.cb_cards h2{
  padding: 4px 8px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid #ac2121;
}

.cb_cards_main{
  display: flex;
  border-bottom: 1px solid #ac2121;
}

.cb_cards_main .cbcard_left{
  width: 80%;
}

.cb_card_desc {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  color: #80838e;
  display: flex;
  gap: 4px;
  margin: 0;
}

.cb_cards_main .cbcard_right{
  width: 20%;
}

.cbcard_right p{
  /* padding: 0 10px 10px 10px; */
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.cb_cards_footer{
  display: flex;
  padding: 4px 8px;
  justify-content: space-around;
  align-items: center;
}

.cb_cards_footer button {
  padding: 8px 14px;
  border: 1px solid gray;
  background-color: rgba(38, 53, 73, 1);
  color: white;
  border-radius: 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.signinlayer .signinsidebar {
  padding: 10px 40px;
  outline: none;
  border: 2px solid grey;
  background-color: transparent;
  color: grey;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
