.tscontainer {
  display: flex;
  background: rgb(19, 18, 23);
  height: 95vh;
  padding: 20px 2px;
}

.tscontainer_leftsection {
  display: flex;
  width: 18vw;
  flex-direction: column;
  padding: 6px 12px;
  gap: 20px;
}

.tscontainer_rightsection {
  height: 95vh;
  width: 82vw;
  border: 1px solid rgba(38, 53, 73, 1);
  border-radius: 18px;
  background-color: #ffffff;
  align-self: center;
}

.tsleftsection_options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .tsleftsection_options section {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */
/* .tsleftsection_options section p {
  cursor: pointer;
  width: 14vw;
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 8px;
} */
.tsleftsection_options section p span {
  display: flex;
  gap: 22px;
  align-items: center;
  /* justify-content: center; */
}

.tsfeaturelistsection{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tsfeaturelistsection p{
  cursor: pointer;
  width: 14vw;
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 8px;
}

.suggestion_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.suggestion_section  p {
  cursor: pointer;
  width: 14vw;
  color: #80838e;
  padding: 4px 14px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.selected {
  background-color: rgba(38, 53, 73, 1);
}

.sidebarclose{
  display: none;
}

.sidebaropen{
  display: none;
}

@media screen and (max-width: 768px) {
  .tscontainer_leftsection{
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    /* display: none; */
  }
  .tscontainer_rightsection{
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    /* display: none; */
  }

  .hidecontent{
    display: none;
  }

  .tsfeaturelistsection p{
    width: 80vw;
  }

  .suggestion_section p{
    width: 80vw;
  }

  .sidebarclose{
    display: block;
    color: white;
  }

  .sidebaropen{
    display: block;
    color: black;
  }

  /* .cbcontainer{

  } */

  .cb-grid-parent{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .cb_cards{
    width: 94vw;
  }
}