.authcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 90vh;
}

.authleftcontainer {
  display: flex;
  /* height: 100vh; */
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.authleft {
  background-color: white;
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  grid-gap: 12px;
  gap: 12px;
  padding: 20px 30px;
  border-radius: 12px;
  width: 50%;

}

.authleft h1 {
  margin: 0;
  font-size: 24px;
}

.authleft p {
  margin: 0;
  font-size: 16px;
}

.authleft p span{
  font-size: 14px;
    color: #ac2121;
    cursor: pointer;
    text-decoration-line: underline;
}

.authright {
  display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50vw;
    align-items: center;
    background-color: #f3f5f9;
    justify-content: center;
    background-color: black;
}

.authright img{
  background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60%;
    border: 0px;
    box-shadow: 0px 0px 12px -2px #ac2121;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .authright {
    display: none; 
  }  
  .authleftcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
  
  }
  .authleft{
    border-radius: 30px;
  }
}