.authcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 90vh;
}

.authleftcontainer {
  display: flex;
  /* height: 100vh; */
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.authleft {
  background-color: white;
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  gap: 12px;
  padding: 20px 40px;
}

.authleft h1 {
  margin: 0;
}

.authleft p {
  margin: 0;
}

.authright {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  width: 50vw;
  background-color: #f3f5f9;
}

.authright img{
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
@media screen and (max-width: 767px) {
    .authright {
    display: none; 
  }  
  .authleftcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
  
  }
  .authleft{
    border-radius: 30px;
  }
}